{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="content">
    <div class="container">
        <div class="row py-4">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Зарегистрированые пользователи</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Логин</th>
                                            <th>Онлайн</th>
                                            <th>Профиль</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in users_list %}
                                        <tr>
                                            <th scope="row">{{ i.id }}</th>
                                            <td>{{ i.username }}</td>
                                            <td>{{ i.last_seen }}</td>
                                            <td> <a href="{{url_for('main.user', username=i.username)}}" class="btn btn-sm btn-primary">Перейти</a></td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}