{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('main.index')}}">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Сотрудники</li>
    </ol>
</nav>
{% if technicians %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom py-1">
    <h2 class="h2">Список сотрудников вашего участка</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('employee.add_employee')}}">Добавить сотрудника</a>
    </div>
</div>
<div class="col-lg-6">
    <ul class="list-group">
        {% for i in technicians %}
        <li class="list-group-item"><a href="{{url_for('employee.employee_profile', id=i.id) }}">{{ i.last_name + ' ' + i.first_name + ' ' + i.patronymic_name}}</a></li>

        {% endfor %}
    </ul>
</div>

{% else %}
<div class="row">
    Вы не создали ни одного профиля сотрудника.
    Нажмите <a href="{{ url_for('employee.add_employee')}}"> сюды</a>, чтобы исправить это.
</div>
{% endif %}

{% endblock %}
