{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('main.index')}}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('employee.employees')}}">Сотрудники</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ profile_data.last_name + ' ' + profile_data.first_name[:1] +'. ' + profile_data.patronymic_name[:1] + '.'}}</li>
    </ol>
</nav>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h3 class="h2">Карточка сотрудника</h3>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <img class="img-thumbnail rounded" src="{%if profile_data.photo%}
            {{ url_for ('static', filename=profile_data.photo) }}
            {% else %}
              {{ url_for ('static', filename='uploads/profile/nobody.jpg') }}
             {% endif %}">
        </div>
        <div class="col-lg-8">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Профиль</a>
                    <a class="nav-item nav-link" id="nav-docs-tab" data-toggle="tab" href="#nav-docs" role="tab" aria-controls="nav-documentation" aria-selected="false">Документы</a>
                    <a class="nav-item nav-link" id="nav-edit-tab" data-toggle="tab" href="#nav-edit" role="tab" aria-controls="nav-maintenance" aria-selected="false">Редактировать карточку</a>
                </div>
            </nav>
            <div class="tab-content py-3" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row">
                        <div class="col-sm-5" >Фамилия:</div><div class="col-sm-7">{{ profile_data.last_name }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5" >Имя:</div><div class="col-sm-7">{{ profile_data.first_name }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 ">Отчество:</div><div class="col-sm-7">{{ profile_data.patronymic_name }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5" >Дата рождения:</div><div class="col-sm-7">{{ profile_data.birth_date }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5" >Должность:</div><div class="col-sm-7">{{ profile_data.position }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5" >Номер телефона:</div><div class="col-sm-7">{{ profile_data.phone_number }}</div>
                    </div>
                </div>

                <div class="tab-pane fade" id="nav-docs" role="tabpanel" aria-labelledby="nav-docs-tab">
                    не реализовано
                </div>
                <div class="tab-pane fade" id="nav-edit" role="tabpanel" aria-labelledby="nav-edit-tab">
                    {{ wtf.quick_form(edit_form) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
