{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Вход</h1>
    <div class="row">
        <div class="col-md-4">
                    {{ wtf.quick_form(form, button_map={'submit': 'success'}) }}
        </div>
    </div>
    <br>
    <p>Новый пользователь? <a href="{{ url_for('auth.register') }}">Зарегистироваться!</a></p>
    <p>
        Забыли пароль?
        <a href="{{ url_for('auth.reset_password_request') }}">Нажмите, чтобы сбросить его'</a>
    </p>
{% endblock %}
