{% extends "base.html" %}

{% block app_content %}
    <h1>Произошла неожиданная ошибка</h1>
    <p>Отправлено уведомление администратору. Приносим свои извинения за предоставленные неудобства!</p>
    <p><a href="{{ url_for('main.index') }}">На главную</a></p>
{% endblock %}
