{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-chart-pie"></i>
        Редактирование профиля оборудования</div>
    <div class="card-body">
        {{ wtf.quick_form(edit_form) }}
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
{% endblock %}
