{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('main.index')}}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{url_for('main.place', place_id=equipment.place_id)}}">
            {% for i in place %}
            {% if i.id == equipment.place_id %}
            {{ i.name }}
            {% endif %}
            {% endfor %}
        </a></li>
        <li class="breadcrumb-item"><a href="{{url_for('main.line', place_id=equipment.place_id, line_id=equipment.line_id)}}">
            {% for i in lines %}
            {% if i.id == equipment.line_id %}
            {{ i.name }}
            {% endif %}
            {% endfor %}
        </a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ equipment.name }}</li>
    </ol>
</nav>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h3 class="h3">{{ equipment.name }}, RNKB {{ equipment.rnkb }}</h3>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a class="btn btn-sm btn-outline-secondary" href="{{url_for('main.edit_equipment', place_id=place_id, line_id=line_id, equipment_id=equipment_id)}}">Редактировать</a>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        {% if equipment.image_url %}
        <img class="img-thumbnail rounded" src="{{ equipment.image_url }}" alt="{{ equipment.image_filename }}">
        {% else %}
        <img class="img-thumbnail rounded" src="{{ url_for ('static', filename='uploads/equipment/noimage.jpg')}}">
        {% endif %}
    </div>
    <div class="col-lg-8">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Основная информация</a>
                <a class="nav-item nav-link" id="nav-documentation-tab" data-toggle="tab" href="#nav-description" role="tab" aria-controls="nav-documentation" aria-selected="false">Описание</a>
            </div>
        </nav>
        <div class="tab-content py-3" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-xs btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Описание
                                </button>
                            </h5>
                        </div>


                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                Чегото
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Технические характеристики
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                {{ equipment.tech_data | safe}}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Проведенное техническое обслуживание и ремонт
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                maintenance
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab">
                <div class="card-body">
                    <p>
                        {% if equipment.description %}
                        {{ equipment.description}}
                        {% else %}
                        Описание отсутствует
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
