{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h2>Добавление нового цеха</h2>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(add_place) }}
        </div>
    </div>
{% endblock %}
