{% extends 'bootstrap/base.html' %}
{% block body_attribs %} id="page-top"{% endblock body_attribs %}>
{% block head %}
{{super()}}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='brand.png') }}">
{% endblock %}
{% block title %}
{% if title %}{{ title }} - Реестр {% else %}{{ 'Реестр' }}{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <a class="navbar-brand mr-1" href="{{ url_for('main.index') }}">
        <img src="{{ url_for('static', filename='brand.png') }}" width="30" height="30" class="d-inline-block align-top" alt=""><h1 class="navbar-brand mb-0">Реестр</h1>
    </a>
    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>
    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Найти..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
        {% if current_user.is_anonymous %}
        {% else %}
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-danger">9+</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link" href="{{ url_for('main.messages') }}" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                {% set new_messages = current_user.new_messages() %}
                <span class="badge badge-danger">{{ new_messages }}</span>
            </a>
        </li>
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle fa-fw"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="#">Activity Log</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt"></i> Выйти</a>
            </div>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}

{% block content %}
<div id="wrapper">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav toggled">
        <li class="nav-item {%if index %} active {%endif%}">
            <a class="nav-link" href="{{ url_for('main.index') }}">
                <i class="fas fa-home"></i>
                <span>Главная</span>
            </a>
        </li>
        <li class="nav-item {%if employees %} active {%endif%}">
            <a class="nav-link" href="{{ url_for('employee.employees') }}">
                <i class="fas fa-users"></i>
                <span>Сотрудники</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="tables.html">
                <i class="fas fa-fw fa-table"></i>
                <span>Tables</span></a>
        </li>
        <li class="nav-item dropdown {% if settings_active %}active{% endif %}">
            <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-cogs"></i>
                <span>Настройки</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                <a class="dropdown-item {% if settings and settings_active %}active{% endif %}" href="{{ url_for('settings.settings')}}">Настройки</a>
                <a class="dropdown-item {% if settings_active and users %}active{% endif %}" href="{{ url_for ('settings.users')}}">Пользователи</a>
                <a class="dropdown-item {% if settings_active and gallery %}active{% endif %}" href="{{ url_for ('settings.gallery')}}">Галерея</a>
                <a class="dropdown-item {% if settings_active and files %}active{% endif %}" href="{{ url_for ('settings.files')}}">Файлы</a>
                <a class="dropdown-item {% if settings_active and places %}active{% endif %}" href="{{ url_for ('settings.places')}}">Цеха</a>
                <a class="dropdown-item {% if settings_active and lines %}active{% endif %}" href="{{ url_for ('settings.lines')}}">Линии</a>
                <a class="dropdown-item {% if settings_active and equipment %}active{% endif %}" href="{{ url_for ('settings.equipment')}}">Оборудование</a>
                <a class="dropdown-item {% if settings_active and employees %}active{% endif %}" href="{{ url_for ('settings.employees')}}">Сотрудники</a>
                <a class="dropdown-item" href="#">Создание заданий</a>
                <a class="dropdown-item" href="#">Создание графиков</a>
                <a class="dropdown-item{% if settings and maintenance %}active{% endif %}" href="{{ url_for ('settings.maintenance')}}">ППР</a>
                <a class="dropdown-item" href="#">Настройки приложения</a>
                <a class="dropdown-item" href="{{ url_for ('settings.edit_profile')}}">Ваш профиль</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="404.html">404 Page</a>
                <a class="dropdown-item" href="blank.html">Blank Page</a>
            </div>
        </li>

            <li class="nav-item fixed-bottom">

            <a class="nav-link" href="{{url_for('main.create_a_task')}}">
                <i class="fas fa-tasks"></i>
                <span>Создать сменное задание</span></a>
        </li>

    </ul>

    <div id="content-wrapper">
        <div class="container-fluid">

            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            {% for category, message in messages %}

            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert" id="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>

            {% endfor %}
            {% endif %}
            {% endwith %}

            {# application content needs to be provided in the app_content block #}

            {% block app_content %}{% endblock %}
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->
</div>
{% endblock %}
{% block styles -%}
{{super()}}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">
<link href="{{ url_for('static', filename='css/sb-admin.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">


{% endblock styles %}

{% block scripts %}
{{ super() }}

{{ moment.include_moment() }}
{{ moment.lang(g.locale) }}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>


<script src="http://code.jquery.com/ui/1.12.0-rc.2/jquery-ui.js"></script>
<script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/sb-admin.min.js') }}"></script>
<script>
    $(function() {
        $('#date').datepicker({ dateFormat: 'dd.mm.yy' }).val();
    });
</script>

<script>
    $('#tech_data').summernote({
        toolbar: [
            // [groupName, [list of button]]
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['para', ['ul', 'ol']],
        ]
    });
</script>
<script>
    // ...
    function set_message_count(n) {
        $('#message_count').text(n);
        $('#message_count').css('visibility', n ? 'visible' : 'hidden');
    }

    {% if current_user.is_authenticated %}
    $(function() {
        var since = 0;
        setInterval(function() {
            $.ajax('{{ url_for('main.notifications') }}?since=' + since).done(
                function(notifications) {
                    for (var i = 0; i < notifications.length; i++) {
                        if (notifications[i].name == 'unread_message_count')
                            set_message_count(notifications[i].data);
                        since = notifications[i].timestamp;
                    }
                }
            );
        }, 10000);
    });
    {% endif %}
</script>
<script type="text/javascript">

    $(document).ready(function () {

        window.setTimeout(function() {
            $(".alert").fadeTo(1000, 0).slideUp(1000, function(){
                $(this).remove();
            });
        }, 5000);

    });
</script>
{% endblock %}