{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">Главная</li>
        <li class="breadcrumb-item active" aria-current="page">Создание сменного задания</li>
    </ol>
</nav>
<div class="col-lg-4">
    {{ task_form.csrf_token }}
    {{ wtf.form_field(task_form.date) }}
    {{  wtf.form_field(task_form.place) }}
    {{  wtf.form_field(task_form.line) }}
    {{  wtf.form_field(task_form.equipment) }}
    {{  wtf.form_field(task_form.description) }}
    {{  wtf.form_field(task_form.employee) }}
    {{  wtf.form_field(task_form.deadline_date) }}
<script>
    let place_select = document.getElementById('place');
    let line_select = document.getElementById('line');
    let equipment_select = document.getElementById('equipment');
    place_select.onclick= function () {
        place = place_select.value;
        
        fetch('/line/' + place).then(function(response) {
            response.json().then(function(data) {
                let optionHTML = '';
                for (let line of data.lines){
                    optionHTML += '<option value="' + line.id + '">' + line.name + '</option>';
                }

                line_select.innerHTML = optionHTML;
            });
        });
    };

    line_select.onclick = function () {
        line = line_select.value;

        fetch('/equipment/' + line).then(function(response) {
            response.json().then(function(data) {
                let optionHTML = '';
                for (let equipment of data.equipment){
                    optionHTML += '<option value="' + equipment.id + '">' + equipment.name + '</option>';
                }
                equipment_select.innerHTML = optionHTML;
            });
        });
    };


</script>
</div>
{% endblock %}