{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h2>Редактирование цеха</h2>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(edit_place_form) }}
        </div>
    </div>
{% endblock %}
