{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

{% if place %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Главная</li>
    </ol>
</nav>
<div class="row py-1">
    {% for i in place %}
    {% if i.user_id == current_user.id %}
    <!-- Delete Modal -->
    <div class="modal fade" id="delete_placeModal{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="delete_placeLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete_placeLabel">Удаление...</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы уверены что хотите выполнить удаление? Это действие нельзя будет отменить!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <a class="btn btn-danger" href="{{url_for('main.delete_place', place_id=i.id) }}">Удалить</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 pb-3">
        <div class="card h-100 mb-3 ">
            <div class="card-header d-flex justify-content-between">
                <h6>{{ i.name }}</h6>

                <a class="dropdown-toggle dropdown-toggle-split no-arrow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{{url_for('main.edit_place', place_id=i.id)}}">
                        <i class="fas fa-edit" style="color: #e2a456;"> </i>
                        Редактировать
                    </a>

                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_placeModal{{i.id}}">
                        <i class="far fa-trash-alt" style="color: #e2413e;"></i>
                        Удалить
                    </a>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">
                    {% if i.description %}
                    {{ i.description }}
                    {% else %}
                    Для просмотра линий в составе цеха нажмите "Перейти".
                    {% endif %}
                </p>
            </div>
            <div class="card-footer">
                <a role="button" class="btn btn-primary btn-md btn-block" href="{{url_for('main.place', place_id=i.id)}}">Открыть</a>
            </div>
        </div>
    </div>
    {% endif%}
    {% endfor %}
</div>
<div class="row">
    <div class="col-lg-12">
        <a class="btn btn-primary float-right" href="{{url_for('main.add_place')}}">Добавить цех</a>
    </div>
</div>

{% else %}
<div class="row">
    <div class="col-lg-4">
        <a class="btn btn-primary float-right" href="{{url_for('main.add_place')}}">Добавить цех</a>
    </div>
</div>
{% endif %}
<br>
{% endblock %}