{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

{% if equipment %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('main.index')}}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{url_for('main.place', place_id=place_id)}}">
            {% for i in place %}
            {% if i.id == place_id %}
            {{ i.name}}
            {% endif%}
            {% endfor %}
        </a></li>
        <li class="breadcrumb-item active" aria-current="page">
            {% for i in lines %}
            {% if i.id == line_id %}
            {{ i.name}}
            {% endif%}
            {% endfor %}</li>
    </ol>
</nav>
<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
            {% for i in equipment %}
            <li class="list-group-item"> <a href="{{ url_for('main.equipment', place_id=i.place_id, line_id=i.line_id , equipment_id=i.id) }}">{{ i.name + ', ' + 'RNKB ' + i.rnkb }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row py-3">
    <div class="col-md-12">
        {{ wtf.quick_form(add_equipment) }}
    </div>
</div>

{% else %}
{{ wtf.quick_form(add_equipment) }}
{% endif %}

{% endblock %}
