{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div class="row">
    {{ wtf.quick_form(add_place) }}
</div>

<div class="row">
    <div class="col-md-12 col-xs-12">
        {% for i in data %}
        {{ i.name }}
        {% endfor %}
    </div>
</div>

<br>
{% endblock %}
