<html>
<head>
    <title>Upload</title>
</head>
<body>
<form method=POST enctype=multipart/form-data action="{{ url_for('main.upload') }}">
    <input type=file name=photo>
    <input type="submit">
</form>
</body>
</html>