{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div class="col-lg-8">
    <table class="table table-hover">
        <tr>
            <td width="128px"><img src="{{ user.avatar(128) }}"></td>
            <td>
                <h2>Пользователь: {{ user.username }}</h2>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}
                <p>Был на сайте : {{ moment(user.last_seen).format('LLL') }}</p>
                {% endif %}
                {% if user != current_user %}
                <p>
                    <a href="{{ url_for('main.send_message',
                                    recipient=user.username) }}">
                        {{ _('Send private message') }}
                    </a>
                </p>
                {% endif %}
                <p>{{ _('%(count)d подписчиков', count=user.followers.count()) }}, {{ _('%(count)d подписок', count=user.followed.count()) }}</p>
                {% if user == current_user %}
                <p><a href="{{ url_for('settings.edit_profile') }}">{{ 'Редактировать профиль' }}</a></p>
                {% if not current_user.get_task_in_progress('export_posts') %}
                <p>
                    <a href="{{ url_for('main.export_posts') }}">
                        Экспортировать посты
                    </a>
                </p>
                {% endif %}
                {% elif not current_user.is_following(user) %}
                <p><a href="{{ url_for('main.follow', username=user.username) }}">{{'Подписаться' }}</a></p>
                {% else %}
                <p><a href="{{ url_for('main.unfollow', username=user.username) }}">{{ 'Отписаться' }}</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
</div>
{% endblock %}
